TOKEN = <BOT_TOKEN>
PERSPECTIVE_API_KEY = <PERSPECTIVE_API_SECRET>

SHEET_COMMANDS = "GX3 Commands"
SHEET_DISCORD_MEMBERS = "GX3 Discord Members"
SHEET_MESSAGE_CHECK = "GX3 Message Check"
SHEET_SCHEDULED_MESSAGES = "GX3 Scheduled Messages"
SHEET_SHIFT_SIGNUPS = "GX3 - Shift Signups"